html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
  
  
}

img {
  max-width: 100%;
  display: block;
}

p {
  margin: 30px;
  font-size: .7em;
  color: white;
}

h1 {
  margin-left: 38px;
  color:white;
}

th {
  color: white;
  height:70px;
}

table, th, td {
  border: 1px solid;
  border-color: black;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  
}

th, td {
  width: 33%;
  text-align: center;
}

td {
  font-size: .9em;
  color:black;
  background-color: #F0F0F0;
}

figcaption {
margin-left: 12px;
margin-top: 5px;
font-size: .89em;
}