.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingXl {
    color: white;
    font-size: 2rem;
    line-height: 1.3;
  
    font-weight: 400;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
    padding-top: 10px
  }
  
  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
  }
  
  .headingMd {
    color: white;
    font-size: 1.2rem;
    line-height: 1.;
  }
  
  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: white;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .pageHeader {
    padding: 0px 0px 0px 15px;
    font-size: larger;
  }
  
  
  .lightText {
    color: #666;
  }

  .contentBox {
    height:80vh;
    border-radius: 8px;
    width: 77vw;
    position:fixed;
    z-index: 0;
    background: rgb(23, 23, 23);
    margin-left: 20px;
    box-shadow: 10px 10px 10px -2px rgba(20, 20, 20, 0.75);
  }

  .lineBreak {
    border-bottom: 1px solid #333;
    box-shadow: 0px 0 0px -2px #888;
    padding-bottom: 20px;
    margin-bottom: 0px;
  }

  .contactLink1 {
    position: fixed;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16%;
    margin-top: 30px;

  }

  .contactLink2 {
    position: fixed;
    display: flex;
    width: 110px;
    height: 110px;
    align-items: center;
    justify-content: center;
    margin-left: 36%;
    margin-top: 30px;


  }

  .contactLink3 {
    position: fixed;
    display: flex;
    width: 110px;
    height: 110px;
    align-items: center;
    justify-content: center;
    margin-left: 56%;
    margin-top: 30px;

  }

  .contactLink1:hover {
    border-radius: 50%;
    border-color: white;
    background-color: white;
  }

  .contactLink2:hover {
    border-radius: 50%;
    border-color: white;
    background-color: white;
  }

  .contactLink3:hover {
    border-radius: 50%;
    border-color: white;
    background-color: white;
  }

  .resume {
    text-align: center;
    position: fixed;
    padding: 1px 6px 1px 6px;
    text-decoration: none;
    display: flexbox;
    font-size: 20px;
    height: 100px;
    line-height: 100px;
    width: 400px;
    margin-left: 25.5%;
    margin-top: 300px;
    border-radius: 20px;
    border-width: medium;
    border: solid rgb(2, 2, 2);
    background-color: rgb(65, 65, 70);
    color:white;
  }

  .resume:hover {
    filter: brightness(160%);
    border: solid white;
  }


  .buttonImg {
    display: inline-block;
    padding-right: 0px;
    margin-left: 20px;
    vertical-align: middle;
    
  }

  .resume > .buttonImg,
  .resume > .bText {
    vertical-align: middle;
  }

  .bText {
    
    position:relative;
    text-align: center;
    text-decoration: none;
    color:white;
    vertical-align:top;
    
    
    
    
  }

  .projectEntry{
    
    background: rgb(65, 65, 70);
    width: 700px;
    height: 10vh;
    color: white;
    list-style: none;
    margin-left: 20px;
    vertical-align: middle;
    background-image: url(../public/images/work-icon.png);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: 50px;
    
  }

  .prLink {
    padding: 20px 50px 20px 60px;
    width: 700px;
    float: left;
    margin-left:0;
    color: white;
    
  }

  /* .typewriteBox {
    
  } */

  .typewriteBox {
    display: none;
  }

  .prLink:hover + .typewriteBox {
    margin-left: 700px;
    font-size: 20px;
    width: 350px;
    height: 50vh;
    display: flex;
    position: absolute;
    top: -25px;

  }

  .projectEntry a {
    color: white;
    }
  
  
  .projectEntry:hover {  
      filter: brightness(160%);
      
    }

 
  
  .fig {
  margin-left: 12px;
  margin-top: 5px;
  font-size: .89em;
  }
  
  .th1 {
    background-color: #2774AE;
  }
  
  .th2 {
    background-color: #FFB81C;
  }
  
  .th3 {
    background-color: #003B5C;
  }
  
  .tableHeader {
    margin-bottom: 5px;
    margin-left: 12px;
    font-size: .8em;
    font-weight: normal;
  }

  .thea {
    
    color: white;
    height:70px;
    border-collapse: collapse;
    border: 1px solid;
    
    border-color: black;
    width: 33%;
    text-align: center;
    
  }
  
  .tdat {
    
    border-collapse: collapse;
    border: 1px solid;
    border-color: black;
    width: 33%;
    text-align: center;
    font-size: .9em;
    color:black;
    background-color: #F0F0F0;
    
  }
  
  .tble {
    border-collapse: collapse;
    border: 1px solid;
    padding: 10px 0px 10px 0px;
    margin: 0 auto;
    border-color: black;
    
  }
  
 